@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/themes/colors.css";
@import "@/themes/theme-light.css";
@import "@/themes/theme-sepia.css";
@import "@/themes/theme-blue.css";
@import "@/themes/theme-dark.css";

.transition-theme {
  transition: transform var(--transition-duration) ease-in-out,
              opacity var(--transition-duration) ease-in-out;
  transform-origin: top;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}