@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration: 100ms;
}

/* Adiciona uma transição para quando o tema mudar */
.transition-theme {
  transition: transform var(--transition-duration) ease-in-out, 
              opacity var(--transition-duration) ease-in-out;
  transform-origin: top;
}