.theme-light {
  /* ...regras do tema light extraídas do globals.css... */
  --app-color-background: var(--color-white);
  /* Header */
  --app-color-header-background: var(--color-slate-900);
  --app-color-header-text: var(--color-white);
  --app-color-header-highlight: var(--color-blue-500);
  /* Footer */
  --app-color-footer-background: var(--color-neutral);
  --app-color-footer-text: var(--color-slate-900);
  --app-color-footer-highlight: var(--color-slate-900);
  /* Text */
  --app-color-text: var(--color-slate-900);
  /* Elements */
  --app-color-icon: var(--color-white);
  --app-color-tag: var(--color-white);
  /* Banner */
  --app-color-banner-background: var(--color-slate-700);
  --app-color-banner-text: var(--color-white);
  --app-color-banner-button: var(--color-gray-900);
  --app-color-banner-button-hover: var(--color-slate-800);
  /* Botões */
  --app-color-button-background: var(--color-slate-700);
  --app-color-button-border: var(--color-slate-700);
  --app-color-button-hover: var(--color-slate-800);
  --app-color-button-text: var(--color-white);
  --app-color-button-icon: var(--color-white);
  --app-color-button-outline-border: var(--color-slate-900);
  --app-color-button-outline-text: var(--color-slate-900);
  --app-color-button-fill-background: var(--color-slate-900);
  --app-color-button-fill-text: var(--color-white);
  /* Buscar */
  --app-color-search-background: var(--color-slate-700);
  --app-color-search-placeholder: var(--color-gray-500);
  --app-color-search-text: var(--color-white);
  /* Grupo */
  --app-color-group-background: var(--color-slate-200);
  --app-color-group-hover: var(--color-slate-300);
  --app-color-group-text: var(--color-slate-900);
  /* Inputs */
  --app-color-input-background: var(--color-white);
  --app-color-input-border: var(--color-slate-900);
  --app-color-input-placeholder: var(--color-slate-500);
  --app-color-input-text: var(--color-slate-900);
  --app-color-input-icon: var(--color-slate-900);
  --app-color-input-focus: var(--color-slate-800);
  /* Lista */
  --app-color-list-background: var(--color-white);
  --app-color-list-border: var(--color-slate-200);
  --app-color-list-hover: var(--color-slate-100);
  --app-color-list-text: var(--color-slate-900);
  /* Menu */
  --app-color-menu-background: var(--color-white);
  --app-color-menu-border: var(--color-slate-100);
  --app-color-menu-hover: var(--color-zinc-100);
  --app-color-menu-text: var(--color-zinc-700);
  --app-color-menu-title: var(--color-zinc-600);
  --app-color-menu-breakline: var(--color-zinc-600);
  /* Titulos */
  --app-color-title: var(--color-slate-900);
  --app-color-subtitle: var(--color-slate-700);
  --app-color-highlight: var(--color-blue-500);
  --app-color-highlight-text: var(--color-white);
}
